{% extends 'student_base.html' %}

{% block title %}Faculty Credentials{% endblock %}
{% block content %}
{% load staticfiles %}
 <style>
}
}
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

 </head>
<body>

 <div class="container">
<div class="row">
  <div class="card col-md-6">
    <div class="thumbnail">
      <img src="{% static 'home/prof.jpg' %}" alt="...">
      <div class="caption">
        <h3>Harolyn M.E. Belcher, MD, MHS</h3>
        <p class="card-text"></p><h6>Faculty, Center for Diversity in Public Health Leadership Training</h6>
        <h6>University of the Philippines</h6>
        <section>
          <address>Gorordo Avenue <br>Lahug, Cebu City, 6000 </address> <phone>Phone: 032-923-2792 </phone>
        </section>
        <section> 
          <email>Email: <a href="#" target="_blank">Stone@up.edu.ph</a></email> 
        </section>
         <p><a href="#" class="btn btn-primary" role="button">View Profile</a></p>
      </div>
      </div>
  </div>
  <div class="card col-md-6">
    <div class="thumbnail">
      <img src="{% static 'home/prof.jpg' %}" alt="...">
      <div class="caption">
        <h3>Harolyn M.E. Belcher, MD, MHS</h3>
        <p class="card-text"></p><h6>Faculty, Center for Diversity in Public Health Leadership Training</h6>
        <h6>University of the Philippines</h6>
         <section>
          <address>Gorordo Avenue <br>Lahug, Cebu City, 6000 </address> <phone>Phone: 032-923-2792 </phone>
        </section>
        <section> 
          <email>Email: <a href="#" target="_blank">Stone@up.edu.ph</a></email> 
        </section>
      <p><a href="#" class="btn btn-primary" role="button">View Profile</a></p>
      </div>
      </div>
  </div>
  <div class="card col-md-6">
    <div class="thumbnail">
      <img src="{% static 'home/prof.jpg' %}" alt="...">
      <div class="caption">
        <h3>Harolyn M.E. Belcher, MD, MHS</h3>
        <p class="card-text"></p><h6>Faculty, Center for Diversity in Public Health Leadership Training</h6>
        <h6>University of the Philippines</h6>
         <section>
          <address>Gorordo Avenue <br>Lahug, Cebu City, 6000 </address> <phone>Phone: 032-923-2792 </phone>
        </section>
        <section> 
          <email>Email: <a href="#" target="_blank">Stone@up.edu.ph</a></email> 
        </section>
        <p><a href="#" class="btn btn-primary" role="button">View Profile</a></p>
      </div>
      </div>
  </div>
  <div class="card col-md-6">
    <div class="thumbnail">
      <img src="{% static 'home/prof.jpg' %}" alt="...">
      <div class="caption">
        <h3>Harolyn M.E. Belcher, MD, MHS</h3>
        <p class="card-text"></p><h6>Faculty, Center for Diversity in Public Health Leadership Training</h6>
        <h6>University of the Philippines</h6>
         <section>
          <address>Gorordo Avenue <br>Lahug, Cebu City, 6000 </address> <phone>Phone: 032-923-2792 </phone>
        </section>
        <section> 
          <email>Email: <a href="#" target="_blank">Stone@up.edu.ph</a></email> 
        </section>
      <p><a href="#" class="btn btn-primary" role="button">View Profile</a></p>
      </div>
      </div>
  </div>
</div>
</div>
{% endblock %}