{% extends 'student_base.html' %}
{% block title %}{{ user.first_name }} {{ user.last_name }}:Update{% endblock %}
{% block content %}
<div class="jumbotron">
		<h1 class="display-4"> {{ user.first_name }} {{ user.last_name }} : Update Profile </h1>
	</div>
	{% load crispy_forms_tags %}
	
	</div>
	<div class="container">
	<div class="row">
		
        </div>
        <center>
	<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <fieldset class="form-control text-align:center bg-dark text-white" >
            	<h2>Profile Info</h2>
                 <div class="col-10">
                    {{ u_form|crispy }}   
                 </div>
                    {{ p_form|crispy }} 

            
            <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
            </fieldset>
      </form>
      </center>
{% endblock %}
